[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
doxieapi = "*"
click = "*"
django = "<4"
"psycopg2-binary" = "*"
pyyaml = "*"
gunicorn = "*"
pillow = "*"
"django-query-parameters" = "*"
"django-mathfilters" = "*"
"django-imagekit" = "*"
dropbox = "*"
django-q = "*"
typing-extensions = "*"

[dev-packages]
honcho = "*"
pylint = "*"
pytest = "*"
jsmin = "*"
ipython = "*"
"pipenv-to-requirements" = "*"
pudb = "*"
