[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]

doxieapi = "*"
click = "*"
django = "*"
"psycopg2" = "*"
pyyaml = "*"
gunicorn = "*"
pillow = "*"
"django-query-parameters" = "*"
"django-mathfilters" = "*"


[dev-packages]

honcho = "*"
pylint = "*"
pytest = "*"
jsmin = "*"