{% load static %}<!DOCTYPE html>
<html>
    <head>
        <link href="{% static "style.css" %}" rel="stylesheet" type="text/css" />
        <link href="{% static "vendor/featherlight-1.7.9.min.css" %}" rel="stylesheet" type="text/css" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="csrf-token" content="{{ csrf_token }}">
        <title>Documents</title>
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
    <script src="{% static "vendor/jquery-3.2.1.min.js" %}"></script>
    <script src="{% static "vendor/jquery.visible-1.3.0-rc.1.min.js" %}"></script>
    <script src="{% static "vendor/intercooler-1.2.0.min.js" %}"></script>
    <script src="{% static "vendor/featherlight-1.7.9.min.js" %}"></script>
    <script src="{% static "js/main.js" %}"></script>
</html>
