body {
    background-color: #eee;
    color: #444;
    font-family: Helvetica, sans-serif;
    font-weight: 300;
}

.document {
    box-shadow: 0 0 5px silver;
    border: solid 6px white;
    background-color: #eee;
    margin: 1em;
    display: inline-block;
    float: left;
    max-width: 400px;
    max-height: 400px;
    position: relative;
}

.document__imported-status {
    position: absolute;
    color: white;
    top: 6px;
    right: 6px;
    height: 48px;
    width: 48px;
    border-radius: 24px;
    line-height: 48px;
    text-align: center;
    box-shadow: 0 0 5px silver;
    text-decoration: none;
}

.document__imported-status--mark-ok {
  cursor: pointer;
  background-color: #F06292;
}

.document__missing-thumbnail {
    width: 200px;
    height: 200px;
    display: inline-block;
    text-align: center;
    line-height: 200px;
    font-size: 96px;
}

.document__actions {
    display: none;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(240, 240, 240, 0.9);
}

.document:hover .document__actions, .document:hover .document__imported-status {
    display: inline-block;
}

.document__actions ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

.document__actions a, .document__actions span {
    display: inline-block;
    padding: 0.75em;
    text-transform: lowercase;
}

.document__tags_form input[type=text] {
    box-sizing: border-box;
    width: 95%;
}

.document__tags_form--saved input[type=text] {
    background-color: rgb(224, 254, 214);
}
.tags {
    padding: 0.5em;
    margin: 0;
}

.tags li {
    padding: 0;
    margin: 0 0.25em;
    display: inline;
}

.tags__tag {
    display: inline-block;
    background-color: #ddd;
    margin-bottom: 0.5em;
    border-radius: 10px;
    vertical-align: middle;
    padding: 0.125em 0.5em;
    color: black;
    text-decoration: none;
    box-shadow: 0 0 1px #777;
}

.tags__tag:hover {
    background-color: #c7ffb4;
}

.tags__tag--active {
    background-color: #b0dea2;
}
