# Change these when deploying to production!
SECRET_KEY: "{{ documentstore.secret_key }}"
ALLOWED_HOSTS: {{ documentstore.allowed_hosts | to_json }}

STATIC_ROOT: "{{ documentstore.static_root }}"
MEDIA_ROOT: "{{ documentstore.media_root }}"

DEBUG: false

DATABASES:
    default:
        ENGINE: "django.db.backends.postgresql"
        NAME: "{{ documentstore.database.name }}"
        HOST: "{{ documentstore.database.host }}"

OCRSDK_PASSWORD: "{{ documentstore.ocrsdk.password }}"
OCRSDK_APP_ID: "{{ documentstore.ocrsdk.app_id }}"

DROPBOX: {{ documentstore.dropbox | to_json }}

DOXIE: {{ documentstore.doxie | to_json }}
