{% load query_parameters documents %}
{% del_query_parameters ic-request ic-id ic-target-id ic-current-url _method as=params %}
<div class="document" {% if forloop.first and page_obj.has_next %}
    ic-append-from="{% url "documents:document_list_ajax" %}?{% set_query_parameters with=params page=page_obj.next_page_number %}"
    ic-trigger-on="scrolled-into-view"
    ic-target="#documents"
{% endif %}>
        {% include "documents/includes/imported_status_button.html" %}
        <a href="{{ document.file.url }}" data-featherlight="image">
            {% if document.file_thumbnail %}
                <img src="{{ document.file_thumbnail.url }}">
            {% else %}
                <span class="document__missing-thumbnail">?</span>
            {% endif %}
        </a>
        <div class="document__actions">
            <ul>
                <li>
                    {% include "documents/includes/tags_form.html" with form=document|tags_form %}
                </li>
                <li><a href="{% url "admin:documents_document_change" document.id %}">Admin</a></li>
            </ul>
        </div>
    </div>
